In [1]:
#importing all dependencies needed
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#using the create_engine function to connect to our local DataBase. 
rds_connection_string = "root:Akop1234@localhost/marketing_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [3]:
engine.table_names()

['channels', 'summmary_table']

In [7]:
csv_file = "/Users/lilitakopyan/USC/Project3/Marketing_Subset.csv"
summary_df = pd.read_csv(csv_file)
summary_df.to_sql(name='summary_table', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from summary_table', con=engine).head()

,day,advertiser_id,channel_id,impressions,verified_visits,verified_visit_conversions,verified_visit_total_order_value,total_spend
0,2017-07-09,12274,6,8870,17,0,0.00,53.2200
1,2017-07-09,12283,1,6648,16,0,0.00,36.6598
2,2017-07-09,12283,6,10015,20,0,0.00,52.7699
3,2017-07-09,12289,1,52430,68,21,1231.64,183.2288
4,2017-07-09,12289,6,8814,20,0,0.00,20.9973

In [10]:
csv_file = "/Users/lilitakopyan/USC/Project3/Channels.csv"
summary_df = pd.read_csv(csv_file)
summary_df.to_sql(name='channels', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from channels', con=engine).head()

   channel_id                  name
0           1   Desktop Retargeting
1           2      Real Time Offers
2           3   Desktop Prospecting
3           4                 Email
4           5  Facebook Retargeting